<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/MrSquirrely/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mrsquirrely" />
            <add key="ClearTextPassword" value="aT7S&lFX1y^CzyV&8E!Z7sS8&HR54q" />
        </github>
    </packageSourceCredentials>
</configuration>